.app-container{
  display: grid;
  max-width: 500px;
  padding: 20px;
  border: 5px;
  text-align: center;
  margin: 0 auto;
  border: solid;

}
.panel{
  margin-top: 20px;
  padding: 20px;
  background-color: #f1f8e9;
  border-radius: 8px;
  text-align: left;
}
.hidden{
  display: none;
}
.button-container{
  text-align: left;
}
